
html, img, video, iframe {
    filter: invert(95%) ;
}

html{
    background: #DDD;
    filter: invert(95%) contrast(80%) brightness(80%);
}

* [style^="background-image:"] {
    filter: invert(95%)
}

* {
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

body, #_irr_readmode_framework *{
    font-weight: bold !important;
}