

html{
    background: #DDD;
    filter: contrast(80%);
}

html, img, video {
    filter: invert(95%);
}

* [style^="background-image:"] {
    filter: invert(95%)
}

* {
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
