
body{
    font-size: 14px;
}
p,pre{
    color: #666;
    font-family: system-ui;
}
a{
    color: rgb(0, 98, 150);
}
a:visited{
    color: rgb(0, 98, 150);
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    border-left: 5px #F8E71C solid;
    padding-left: 10px;
}

.note{
    color: #AAA;
    font-size: 12px;
}


.targets{
    display: flex;
}

.target-item{
    display: grid;
    grid-template-columns: 80px 220px;
    margin: 5px 10px;
    cursor: pointer;
    padding: 10px 12px;
    border-radius: 8px;
    width: 300px;
    text-decoration: none;
}
#target_template{
    display: none;
}

.target-item:hover{
    background: #EEE;
}

.target-item:active{
    font-weight: bold;
}

.target-item-icon{
}

.target-item-icon>img{
    height: 65px;
    width: 65px;
    border-radius: 8px;
}

.target-item-right{
    margin-left: 10px;
}

.target-item-name{
    overflow: hidden;
    text-overflow: ellipsis;    
    white-space:nowrap; 
    color: #666;
}

.target-item-description{
    color: #999;
    font-size: 12px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.target-item-category{
    color: #999;
    font-size: 10px;
    font-weight: bold;
}

a.big-entry{
    background: #EEE;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
    color: #333;
}

a.big-entry:hover{
    background: #DDD;
    font-weight: bold;
}


.alert{
    color: purple;
}

.sub-title{
    font-size: 12px;
}


.foot{
    font-size: 10px;
    color: #CCC;
}

.hight{
    color: rgb(149, 0, 255);
}
.note{
    color: gray;
    font-size: 12px;
}

#corner{
    position: fixed;
    right: 0px;
    top:0px;
}

a.high{
    color: rgb(255, 0, 255);
}